.aside {
  @include tablette-only {
    display: none;
  }

  position: sticky;
  top: 0px;
  flex: none;
  width: 339px;
  height: 100%;
  background: #fff;

  &__container {
    padding: 5px;

    h2 {
      font-size: 17px;
      font-weight: bold;
      margin-top: 25px;
      margin-left: 25px;
    }
  }

  &__user__icons {
    //position: absolute;
    margin-left: 20px;
  }

  &__followers {

    margin-top: 15px;

    p {
      margin-bottom: 10px;
      margin-top: 15px;
      margin-bottom: 20px;
      font-size: 15px;
      color: #000;
    }

    &__infos {
      margin-left: 30px;
      display: flex;
      justify-content: space-between;

    }

    &__details {
      float: left;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.68);
    }

    .friends__hint {
      flex: none;
      position: relative;
      right: 20px;
    }

    &__follow {
      float: left;
      margin: 10px 0;
      text-decoration: none;
      color: $secondarycolor;
      border: 1px solid $secondarycolor;
      border-radius: 25px;
      background: transparent;
      padding: 5px;
      text-align: center;
      font-size: 15px;
      cursor: pointer;

      &::before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 2px;
        background: url(../assets/icons/plus-red.png) center / 100% 100% no-repeat;
      }

      &:hover {
        background-color: transparent;
        border: 2px solid $secondarycolor
      }
    }
  }
}