/*************Post MODAL************/

.div-over {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

.wrapper__container {
  position: relative;
}

.main__post__modal {

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;

  &__wrapper {
    overflow-x: auto;
    position: absolute;
    background: #fff;
    top: 50%;
    right: 50%;
    width: 500px;
    max-width: 500px;
    max-height: calc(100% - 100px);
    padding: 10px;
    transform: translate(50%, -50%);
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    padding: 8px;

    &::after {
      position: absolute;
      content: "";
      border-bottom: 1px solid $textcolor;
      width: calc(100% + 40px);
      height: auto;
      margin-top: 60px;
    }

    h2 {
      font-size: 20px;
      font-weight: bold;

    }
  }

  &__closebtn {
    position: absolute;
    right: 0;
    border: 1px solid $iconbuttoncolor;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background: url(../assets/icons/signe-de-la-croix.png) center / 15px 15px no-repeat,
      $iconbuttoncolor;
  }

  &__userinfos {
    display: flex;

    left: 0;
    margin-top: -18px;
    padding: 15px;

    p {
      margin-left: 10px;
      font-weight: bold;
      font-size: 12px;
    }

    .username {
      border-radius: 50%;
      object-fit: cover;
      width: 40px;
      height: 40px;
    }
  }

  &__content {
    background: transparent;
    user-select: text;
    white-space: pre-wrap;
    word-break: break-word;
    margin-top: 0;
    margin-bottom: 0;
    max-height: 250px;
    min-height: 100px;


    &__usertext {
      position: absolute;
      overflow-y: hidden;
      top: 10rem;
      color: #65676b;
      padding: 20px;


    }

  }



  &__attachment {
    display: flex;
    flex-direction: column;

    &__addcontainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $bodercolor;
      border-radius: 6px;
      padding: 6px 8px;
    }

    &__addtitle {
      font-size: 12px;
      font-weight: bold;
    }



    &__addmedia {
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background: url(../assets/icons/upload.png) center / contain no-repeat;
    }

    .new__post {
      margin-top: 11px;
      margin-left: 8px;
    }

    &__postbtn {
      width: 100%;
      padding: 10px 5px;
      margin-top: 25px;
      border: none;
      font-size: 15px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.4);
      cursor: not-allowed;
    }

    .active {
      //visibility: hidden;
      background: $secondarycolor;
      color: white;
      cursor: pointer;
    }
  }



  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $iconbuttoncolor;
    border-radius: 5px;
    max-width: 100%;
    padding: 10px;
    margin-top: 50px;

    &__closebtn {
      display: flex;
      padding: 0.4rem;
      position: absolute;
      right: 0.9rem;
      top: 10rem;
      z-index: 4;
    }

    &__close {

      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 1px solid #000;
      cursor: pointer;
      background: url(../assets/icons/signe-de-la-croix-white.png) center/10px 10px no-repeat,
        #000;
      opacity: .8;

      &:hover {
        opacity: 1;
      }
    }


    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

[placeholder]:empty:before {
  content: attr(placeholder)
}