.sidebar_responsive {
  @include desktop-only {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 20;
  }
}

#sidebar-toggle:target {
  @include desktop-only {
    display: block;
  }
}

.sidebar_responsive>.sidebar_toggle {
  @include desktop-only {
    display: block;
  }
}

.sidebar {
  @include desktop-only {
    display: none;
  }

  position: sticky;
  top: 50px;
  flex: none;
  width: 295px;
  height: auto;

  &__members__container {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
  }

  &__user__infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 12px;


    &__cover__pic {
      max-width: 330px;
      height: 100%;

      img {
        width: 100%;
      }
    }

    &__profil__pic {
      position: relative;
      bottom: 60px;
      max-width: 100px;
      display: flex;
      align-items: center;
      flex-direction: row;
      height: 100%;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    .userpseudo {
      position: relative;
      bottom: 50px;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      color: #000;

      &:hover {
        text-decoration: underline;
      }
    }

    &__follow {
      width: 100%;
      border-top: 2px solid $iconbuttoncolor;
      display: flex;


      &__followed {
        border-right: 2px solid $iconbuttoncolor;
        width: 50%;
        height: 60px;
        text-align: center;
        padding: 12px;

      }

      &__follower {

        text-align: center;
        padding: 12px;
        margin-left: 18px;

      }

      p {
        font-size: 22px;
        font-weight: bold;
      }

      span {
        font-size: 12px;
      }
    }
  }

  h2 {
    font-size: 20px;
    font-weight: bold;

    color: #000;
  }

  &__members {
    display: flex;
    align-items: center;
    margin-top: 15px;
    position: relative;

    &__icons {
      @extend %iconbuttonContain;

      position: absolute;
      left: 0;
    }

    &__links {
      display: flex;
      align-items: center;
      text-decoration: none;
      margin-top: 20px;
      color: rgba(0, 0, 0, 0.5);
      font-size: 15px;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }

      p {
        margin-left: 50px;
      }
    }
  }

  .online {
    &::before {
      content: "";
      position: absolute;
      top: 35px;
      left: 35px;
      display: inline-block;
      width: 8px;
      height: 8px;
      border: 1px solid #01b58a;
      border-radius: 50%;
      background: #01b58a;
      z-index: 1;
    }
  }
}