.header__dropdown {

  position: fixed;
  top: 60px;
  right: 10px;
  background-color: #fff;
  min-width: 350px;
  padding: 12px 15px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  /* Show the dropdown menu on hover */

  .profil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    &__container {
      display: flex;
      align-items: center;

      &:hover {
        background: rgba(212, 212, 212, 0.2);
      }
    }

    &__details {
      margin-left: -40px;

      span {
        font-size: 15px;
        font-weight: bold;
      }

      p {
        color: rgba(0, 0, 0, 0.6);
        margin-top: 10px;
      }
    }
  }

  .user_profil {
    @extend %iconbuttonContain;
    width: 65px;
    height: 65px;
    margin-right: 30px;
  }

  &:hover {
    display: block;
  }

  a {
    text-decoration: none;
    display: block;
    color: #000;
    padding: 12px 16px;
  }

  /* Show the option menu icon */
  &__home {
    ::before {
      @extend %settingicon;
      border-radius: 50%;

      background: url(../assets/icons/home.png) center center / 15px 15px no-repeat,
        $iconbuttoncolor;
    }

    &:hover {
      background: rgba(212, 212, 212, 0.2);
    }
  }

  &__dark {
    ::before {
      @extend %settingicon;
      border-radius: 50%;
      background: url(../assets/icons/night-mode.png) center center / 15px 15px no-repeat,
        $iconbuttoncolor;
    }

    &:hover {
      background: rgba(212, 212, 212, 0.2);
    }
  }

  &__paramas {
    ::before {
      @extend %settingicon;
      border-radius: 50%;

      background: url(../assets/icons/Settings.png) center center / 15px 15px no-repeat,
        $iconbuttoncolor;
    }

    &:hover {
      background: rgba(212, 212, 212, 0.2);
    }
  }

  &__logout {
    ::before {
      @extend %settingicon;
      border-radius: 50%;

      background: url(../assets/icons/logout.png) center center / 15px 15px no-repeat,
        $iconbuttoncolor;
    }

    &:hover {
      background: rgba(212, 212, 212, 0.2);
    }
  }

  .icon {
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
  }
}