#options:target {
  visibility: visible;
}

.post__options {
  position: relative;
}

.edit__post {
  &__container {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 20px;
    top: 50%;
    border-radius: 2px;
    background: #fff;
    margin-top: 10px;
    width: 50%;
    height: 100%;
    padding: 20px 15px;
    box-shadow: 0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.36);
  }
}

.edit__post__content,
.delete__post {
  text-decoration: none;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 15px;
  font-weight: bold;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    background: url(../assets/icons/edit.png) center / contain no-repeat;
  }
}

.delete__post {
  margin-left: -5px;



  &::before {
    height: 32px;
    width: 32px;
    background: url(../assets/icons/delete_btn.png) center / 32px 32px no-repeat;
  }
}